    <!-- Encabezado -->
    <section id="banner-section" class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              
              <h1>¡Oferta especial!</h1>
              <p>"Mantenga su negocio en línea con nuestro servicio de mantenimiento de TI. 
                ¡Aprovecha nuestra oferta especial de 20% de descuento en el mantenimiento de tu
                 tecnología de la información! Contáctanos hoy mismo para obtener más información."</p>
              <a href="#" class="btn btn-primary  my-5">Obtener oferta</a>
            </div>
          </div>
        </div>
      </section>
