    <!-- Sección propositos -->
    <section id="propositos">
        <div class="container">
          <h2>Propósitos</h2>
          <div class="row d-flex">
            <div class="col-md-4 flex-fill">
              <div class="card card-bg h-100 d-flex">
                <div class="card-body">
                  <h5 class="card-title">Misión</h5>
                  <p class="card-text">"Nuestra misión es ofrecer soluciones de TI innovadoras y 
                    personalizadas que ayuden a nuestros clientes a alcanzar sus objetivos de negocio de manera efectiva y eficiente."</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 flex-fill">
              <div class="card card-bg h-100 d-flex">
                <div class="card-body">
                  <h5 class="card-title">Visión</h5>
                  <p class="card-text">"Nuestra visión es ser líderes en consultoría de TI, reconocidos por nuestra excelencia en el servicio al 
                    cliente y la innovación. Buscamos ser un referente en el mercado,
                     ofreciendo soluciones de vanguardia para ayudar a nuestros clientes a mantenerse a la vanguardia de sus industrias."</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 flex-fill">
              <div class="card card-bg h-100 d-flex">
                <div class="card-body">
                  <h5 class="card-title">Objetivo</h5>
                  <p class="card-text">"Nuestro objetivo es brindar soluciones de TI personalizadas que permitan a nuestros clientes
                     aumentar su eficiencia y rentabilidad. Buscamos ser un socio estratégico para nuestros clientes,
                     ayudándolos a alcanzar sus objetivos de negocio a través de tecnologías innovadoras y procesos optimizados."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
